<a href="https://colab.research.google.com/github/umasankari11/E-Commerce-Sales-Data-Analysis-Project/blob/main/Session5-Dictionary%2CSet%20and%20FrozenSet%20Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Session: Data Structures ‚Äì Dictionary, Dictionary Methods, Set, Set Methods, and Frozenset

---

```markdown
#  Learning Objectives

By the end of this session, students will be able to:

1. Understand what **Dictionaries** and **Sets** are and how they differ from other data types.  
2. Create and modify **Dictionaries** using key‚Äìvalue pairs.  
3. Use **Dictionary methods** effectively.  
4. Work with **Sets**, perform set operations, and explore **Set methods**.  
5. Understand **Frozenset** and how immutability affects data handling.  
6. Apply all concepts through a real-life **case study**.


```

---

##  1. Introduction to Dictionary

A **Dictionary** is a **mutable**, **unordered collection** of **key‚Äìvalue pairs**.
Each key in a dictionary must be **unique** and **immutable**.

---

In [ ]:
# Creating a Dictionary
student_info={"student_name":"Uma","Roll_NO":3067,"Course":"Data Analytics","Mark":90}
print(student_info)

my_info={"Name":"Umasankari","Age":35,"Degree":"M.Tech"}
print(my_info)

# Accessing Values

print(student_info["Course"])
print("Mark",student_info.get("Mark"))

# Adding New Key‚ÄìValue Pair

student_info["Age"]=34
print(student_info)
# Modifying a Value

student_info["Course"]="Data Science"
print(student_info)

{'student_name': 'Uma', 'Roll_NO': 3067, 'Course': 'Data Analytics', 'Mark': 90}
{'Name': 'Umasankari', 'Age': 35, 'Degree': 'M.Tech'}
Data Analytics
Mark 90
{'student_name': 'Uma', 'Roll_NO': 3067, 'Course': 'Data Analytics', 'Mark': 90, 'Age': 34}
{'student_name': 'Uma', 'Roll_NO': 3067, 'Course': 'Data Science', 'Mark': 90, 'Age': 34}


##  2. Dictionary Methods

| Method      | Description                 | Example                           |
| :---------- | :-------------------------- | :-------------------------------- |
| `keys()`    | Returns all keys            | `student.keys()`                  |
| `values()`  | Returns all values          | `student.values()`                |
| `items()`   | Returns all key-value pairs | `student.items()`                 |
| `get()`     | Returns value of a key      | `student.get("marks")`            |
| `update()`  | Updates dictionary          | `student.update({"grade": "A+"})` |
| `pop()`     | Removes a key               | `student.pop("marks")`            |
| `popitem()` | Removes last inserted item  | `student.popitem()`               |
| `clear()`   | Removes all items           | `student.clear()`                 |
| `copy()`    | Returns a shallow copy      | `student.copy()`                  |

---

In [ ]:
student_info.keys()

dict_keys(['student_name', 'Roll_NO', 'Course', 'Mark', 'Age'])

In [ ]:
student_info.values()

dict_values(['Uma', 3067, 'Data Science', 90, 34])

In [ ]:
student_info.items()

dict_items([('student_name', 'Uma'), ('Roll_NO', 3067), ('Course', 'Data Science'), ('Mark', 90), ('Age', 34)])

In [ ]:
student_info.update({"Mark":100,"Age":23})
print(student_info)

{'student_name': 'Uma', 'Roll_NO': 3067, 'Course': 'Data Science', 'Mark': 100, 'Age': 23}

In [ ]:
student_info.pop("Roll_NO")
print(student_info)

{'student_name': 'Uma', 'Course': 'Data Science', 'Mark': 100, 'Age': 23}

In [ ]:
student_info.popitem()
print(student_info)

{'student_name': 'Uma', 'Course': 'Data Science', 'Mark': 100}

In [ ]:
student_info1=student_info.copy()
print(student_info)
print(student_info1)

{'student_name': 'Uma', 'Course': 'Data Science', 'Mark': 100}
{'student_name': 'Uma', 'Course': 'Data Science', 'Mark': 100}

In [ ]:
student_info1.clear()
print(student_info1)

{}



## 3. Nested Dictionary

In [ ]:
# Example: Company Data
company = {
    "E101": {"name": "Ravi", "dept": "HR", "salary": 40000},
    "E102": {"name": "Meera", "dept": "IT", "salary": 60000},
    "E103": {"name": "Arjun", "dept": "Finance", "salary": 55000}
}

company["E102"]

{'name': 'Meera', 'dept': 'IT', 'salary': 60000}

In [ ]:
company["E102"]["dept"]

'IT'

In [ ]:
company={"dept1":"IT","dept2":"Fin","dept1":"Marketing","dept1":"IT","dept3":"Fin"}
company

{'dept1': 'IT', 'dept2': 'Fin', 'dept3': 'Fin'}


##  4. Introduction to Sets

A **Set** is an **unordered collection** of **unique items**.

* Duplicates are automatically removed.
* Sets are **mutable**.
* Set items must be **immutable** (no lists or dictionaries inside).

In [ ]:

# Creating Sets
fruits_set={"apple", "orange", "Pineapple","mango","apple"}
print(fruits_set)
# Adding and Removing
fruits_set.add("Amla")
print(fruits_set)

{'mango', 'orange', 'apple', 'Pineapple'}
{'orange', 'apple', 'mango', 'Pineapple', 'Amla'}


## ‚öôÔ∏è 5. Set Methods

| Method                   | Description                                | Example                     |
| :----------------------- | :----------------------------------------- | :-------------------------- |
| `add()`                  | Adds element                               | `s.add(10)`                 |
| `update()`               | Adds multiple elements                     | `s.update([20, 30])`        |
| `remove()`               | Removes specific item (error if not found) | `s.remove(10)`              |
| `discard()`              | Removes item (no error if not found)       | `s.discard(15)`             |
| `pop()`                  | Removes random element                     | `s.pop()`                   |
| `clear()`                | Empties set                                | `s.clear()`                 |
| `union()`                | Combines two sets                          | `A.union(B)`                |
| `intersection()`         | Common items                               | `A.intersection(B)`         |
| `difference()`           | Items in A but not in B                    | `A.difference(B)`           |
| `symmetric_difference()` | Items in A or B but not both               | `A.symmetric_difference(B)` |
| `issubset()`             | Checks subset                              | `A.issubset(B)`             |
| `issuperset()`           | Checks superset                            | `A.issuperset(B)`           |

---

In [ ]:
#update()
fruits_set.update(["dragon fruit","pomegrante"])
fruits_set

{'Amla', 'Pineapple', 'apple', 'dragon fruit', 'mango', 'orange', 'pomegrante'}

In [ ]:
fruits_set.remove("dragon fruit")
fruits_set

{'Amla', 'Pineapple', 'apple', 'mango', 'orange', 'pomegrante'}

In [ ]:
fruits_set.discard("apple")
fruits_set

{'Amla', 'Pineapple', 'mango', 'orange', 'pomegrante'}

In [ ]:
fruits_set.pop()
fruits_set

{'Amla', 'Pineapple', 'mango', 'orange'}

In [ ]:
fruits_set.clear()
fruits_set

set()

In [ ]:
set1={1,2,4,5,7,8}
set2={1,2,6,9,10,5}

print(set1)
print(set2)

{1, 2, 4, 5, 7, 8}
{1, 2, 5, 6, 9, 10}

In [ ]:
set1.union(set2)

{1, 2, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
set1.intersection(set2)

{1, 2, 5}

In [ ]:
set1.difference(set2)

{4, 7, 8}

In [ ]:
set1.symmetric_difference(set2)

{4, 6, 7, 8, 9, 10}

In [ ]:
set1.issubset(set2)

False

In [ ]:
set3=set1.union(set2)
print(set3)

{1, 2, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
set1.issubset(set3)

True

In [ ]:
set3.issuperset(set1)

True



## üîê 6. Frozenset

A **Frozenset** is an **immutable version** of a Set.
Once created, it **cannot be modified** (no add/remove).

In [ ]:
# frozen set
set4={12,34,"Hai"}
frozen_set_Ex=frozenset(set4)

frozen_set_Ex

frozenset({12, 34, 'Hai'})


### Case Study‚Äì Departmental Data Tracker

**Instructions:**

1. Create a dictionary `department` with keys: `"dept_name"`, `"faculty"`, `"courses"`, `"budget"`.
2. Add and modify items using dictionary methods (`update`, `pop`, `get`, etc.).
3. Create two sets: `online_courses` and `offline_courses`.

   * Perform `union`, `intersection`, `difference`, and `symmetric_difference`.
4. Create a `frozenset` named `permanent_faculty`.
5. Display all results **without loops**.

In [ ]:

# Step 1: Department Dictionary

department = {
    "dept_name": "Data Analytics",
    "faculty":"Dr. Uma",
    "courses":"ML",
    "budget": 500000
}
print(department)

# Step 2: Modify values
department["Budget"]=800000
print(department)
# Step 3: Set Operations
online_course={"DA","ML","DSML"}
offline_course={"ML","Softskill","Communication"}
print("Union of Courses:",online_course.union(offline_course))
print("Intersection of Courses:",online_course.intersection(offline_course))
print("Difference of Courses:",online_course.difference(offline_course))

# Step 4: Frozenset Example

faculty={"Uma","Kavin","San"}
frozen_set_Ex=frozenset(faculty)
frozen_set_Ex

{'dept_name': 'Data Analytics', 'faculty': 'Dr. Uma', 'courses': 'ML', 'budget': 500000}
{'dept_name': 'Data Analytics', 'faculty': 'Dr. Uma', 'courses': 'ML', 'budget': 500000, 'Budget': 800000}
Union of Courses: {'ML', 'Communication', 'DSML', 'Softskill', 'DA'}
Intersection of Courses: {'ML'}
Difference of Courses: {'DSML', 'DA'}

frozenset({'Kavin', 'San', 'Uma'})



###  **Session Summary**

‚úÖ **Dictionary** ‚Äì Key‚ÄìValue data structure (mutable).

‚úÖ **Dictionary Methods** ‚Äì `keys()`, `values()`, `items()`, `update()`, `pop()`, `get()`.

‚úÖ **Set** ‚Äì Unordered, unique data (mutable).

‚úÖ **Set Methods** ‚Äì `add()`, `update()`, `union()`, `intersection()`, etc.

‚úÖ **Frozenset** ‚Äì Immutable version of Set.

‚úÖ **Case Study** ‚Äì Practical representation of student and department data.